.products {
    width: 70%;
    display: inline-flex;
    flex-direction: column;
}

.product {
    display: flex;
}

.product-card {
    width: 200px;
    margin: 4px 4px
}

.product-inner {
    text-align: center;
}

.categories {
    display: inline-flex;
    width: 30%;
    flex-direction: column;
    padding: 2%;
}